#TerminalViewer: enabled {
    font-family: "Courier New";
    color: black;
}

#TerminalViewer: disabled {
    font-family: "Courier New";
    color: gray;
}

#UartViewer:enabled {
    font-family: "Courier New";
    color: white;
    background-color: black;
}

#UartViewer:disabled {
    font-family: "Courier New";
    color: gray;
    background-color: black;
}
